#title-bar {
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 0px 50px 0px 50px;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26;
    font-weight: 200;
    color: steelblue;

    border-bottom: 1px solid steelblue;
    padding-bottom: 10px;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 20;
    color: deepskyblue;

    padding-bottom: 10px;
}

/*#hero-image {
    position: relative;
    background-color: lightslategrey;
    width:100%;
    height: 400px;
    overflow: hidden;
}

#hero-image img {
    width: 100%;
}*/

#overlay {
    width: 100%;
    float: left;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
}

.float-pos {
    height: 100px;
    position: relative;
    margin-bottom: 20px;
}

.lock-pos {
    height: 50px;
    position: fixed;
    /*box-shadow: 0px 1px 6px #C8C8C8;*/
    top:0;
}

.animate {
     transition: height 0.2s;
}

#content {
    width: 60%;
    margin: 0 auto;

    border-bottom: 1px solid grey;
    
}

#nav-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-ul li {
    font-family: Helvetica, sans-serif;
    font-size: 16;
    font-weight: 200;
    color: darkslategrey;

    padding: 0px 10px 0px 10px;
}

